<!doctype html>
<html lang="zxx">

<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="description" content="">
<meta name="keywords" content="HTML,CSS,XML,JavaScript">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Recruiter</title>

<script src="js/4n2NXumNjtg5LPp6VXLlDicTUfA.js">
</script><link rel="apple-touch-icon" href="images/apple-touch-icon.html">
<link rel="shortcut icon" type="image/ico" href="images/favicon.html" />

<link rel="stylesheet" href="css/bootstrap.min.css">

<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link href="css/matrialize.css" rel="stylesheet">

<link href="owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">

<link rel="stylesheet" href="css/style.css">
<body class="background-color-white">

    <head th:replace="common/master :: common-header" />


<section id="Contact_us">
    <section id="intro">
        <div class="carousel-item active">
        <div class="carousel-background"><img src="imags/slider/slider1.jpg" alt=""></div>
        </div>
        </section>
</section>


<section id="Get-in-Touch">
<div class="container text-center position-absolute">
<div class="Get-in-Touch-box">
<h3 class="text-left">CompanyName</h3>
<hr>
<div class="vertical-space-5"></div>
<form th:action="@{/}" method="post">
<div class="row">

<div class=" col-lg-2 col-md-12">
<div class="form-group">
<img src="image/companyLogo/companyLogo1.jpg" class="img-fluid" alt="">
</div>
</div>

<div class=" col-lg-5 col-md-12">
<div class="form-group">
<dl class="row">
<dt class="col-sm-3 p-2"><span class="fa fa-envelope p-2"></span> </dt> 
<dd class="col-sm-9 p-2"><b class="font-weight-bold">Email : </b>This is email</dd>

<dt class="col-sm-3 p-2"><span class="fa fa-phone p-2"></span></dt>
 <dd class="col-sm-9 p-2"><b class="font-weight-bold">Phone : </b>This is phone</dd>

 <dt class="col-sm-3 p-2"><span class="fa fa-globe p-2"></span></dt>
 <dd class="col-sm-9 p-2">   <b class="font-weight-bold">Website : </b>This is Website</dd>
</dl></div>
</div>

<div class=" col-lg-5 col-md-12">
    <div class="form-group">
    <dl class="row">
    <dt class="col-sm-3 p-2"><span class="fa fa-building p-2"></span> </dt> 
    <dd class="col-sm-9 p-2"><b class="font-weight-bold">CompanyType : </b>Transportation (AirLine, BusLine) </dd>
    
    <dt class="col-sm-3 p-2"><span class="fa fa-users p-2"></span></dt>
     <dd class="col-sm-9 p-2"><b class="font-weight-bold">NoOfEmployee : </b>50 - 100 Employee</dd>
    </dl></div>
    </div>
    </div>
</div>
</form>
</div>
</div>
</section>

<section id="v2-Jobtend" class="v2-Jobtend-none-roted">
    <div class="container">
    <div class="vertical-space-100"></div>
    <div class="row">

    <div class="col-lg-6 col-md-12 ">
    <h3 class="title-jobted title font-color-white">Mission</h3>
    <div class="vertical-space-40"></div>
    <ul class="max-width font-color-black">
    <li class="list-item1 ">Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
    </li> </ul>
    </div>

    <div class="col-lg-6 col-md-12 ">
        <h3 class="title-jobted title font-color-white">Vision</h3>
        <div class="vertical-space-40"></div>
        <ul class="max-width font-color-black">
        <li class="list-item1 ">Tristique velit phasellus sed auctor leo eros luctus nibh fermentum, ad imperdiet rhoncus dolorhabitant purus velit aliquet donecurna ut in turpis
        </li>
        </ul>
        </div>

    <div class="vertical-space-100"></div>
    </div>
    </div>
    </section>

<footer id="footer" class="background-color-white">
<div class="container">
<div class="vertical-space-100"></div>
<div class="row">
<div class="col-lg-4 col-md-6 vertical-space-2">
<h5>About Us</h5>
<p class="paregraf">Tristique velit phasellus sed auctor leo eros luctus nibh fermentu ad impediet rhonus dolor habitant purus velit aliquet donecurna ut in turpis faucibus</p>
<a href="#">
<i class="fa fa-facebook social-icon"></i></a>
<a href="#">
<i class="fa fa-twitter social-icon"></i></a>
<a href="#">
<i class="fa fa-pinterest-p social-icon"></i></a>
<a href="#">
<i class="fa fa-map-marker social-icon"></i></a>
</div>
<div class="col-lg-2 col-md-6 vertical-space-2">
<h5>Company</h5>
<div class="text">
<a href="#">About</a>
<a href="#">Support</a>
<a href="#">Tems</a>
<a href="#">Privacy</a>
</div>
</div>
<div class="col-lg-2 col-md-6 vertical-space-2">
<h5>Supports</h5>
<div class="text">
<a href="#">About</a>
<a href="#">Support</a>
<a href="#">Tems</a>
<a href="#">Privacy</a>
</div>
</div>
<div class="col-lg-4 col-md-6 vertical-space-2">
<h5>Subscribe Us</h5>
<p>Get latest update and newsletter</p>
<div class="vertical-space-30"></div>
<form th:action="@{/}" method="post">
<input type="email" class="email " placeholder="Email Address " required="">
<span class="fa fa-envelope email-icone "></span>
<input type="submit" class="Subscribe" value="Subscribe">
</form>
</div>
</div>
<div class="vertical-space-60"></div>
</div>
<div class="container-fluid background-color-orange main-footer">
<div class="container text-center">
<div class="vertical-space-30"></div>
<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
</div>
</div>
</footer>


<script data-cfasync="false" src="js/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script src="js/jquery-ui.min.js"></script>

<script src="js/custom.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
</body>

</html>