<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action<th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td><a th:text="${user.username}" th:href="@{/userApplyJobs/}+${user.userId}"></a></td>
                <td th:text="${user.email}"></td>
                <td><a th:href="@{/interviewInvitaionToUser/}+${post_id}+'/'+${user.userId}" class="btn btn-info">Reply Email To User</a></td>
            </tr>

        </tbody>
    </table>

</body>
</html>